/node_modules
/public/storage
Homestead.yaml
Homestead.json
workspace.xml
.env
.idea
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/inspectionProfiles/
resources/views/public/searchOa.blade2.php
!/.env
/.env
/resources/views/public/searchOa.blade2.php
/vendor/
!/vendor/
public/fichas_de_creacion/
public/instrumentos_diligenciados/
resources/views/template/partials/nav2_old.blade.php
vendor/doctrine/annotations/phpstan.neon
vendor/doctrine/cache/lib/Doctrine/Common/Cache/ExtMongoDBCache.php
vendor/doctrine/cache/lib/Doctrine/Common/Cache/LegacyMongoDBCache.php
vendor/doctrine/cache/lib/Doctrine/Common/Cache/MultiDeleteCache.php
vendor/doctrine/cache/lib/Doctrine/Common/Cache/MultiOperationCache.php
vendor/doctrine/collections/CONTRIBUTING.md
vendor/doctrine/common/humbug.json.dist
vendor/doctrine/common/phpstan.neon
vendor/doctrine/dbal/.scrutinizer.yml
vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOSqlsrv/Statement.php
vendor/doctrine/dbal/lib/Doctrine/DBAL/Exception/DeadlockException.php
vendor/doctrine/dbal/lib/Doctrine/DBAL/Exception/LockWaitTimeoutException.php
vendor/doctrine/dbal/lib/Doctrine/DBAL/Exception/RetryableException.php
vendor/doctrine/dbal/lib/Doctrine/DBAL/Platforms/Keywords/PostgreSQL94Keywords.php
vendor/doctrine/dbal/lib/Doctrine/DBAL/Platforms/PostgreSQL94Platform.php
vendor/doctrine/dbal/lib/Doctrine/DBAL/Types/DateImmutableType.php
vendor/doctrine/dbal/lib/Doctrine/DBAL/Types/DateIntervalType.php
vendor/doctrine/dbal/lib/Doctrine/DBAL/Types/DateTimeImmutableType.php
vendor/doctrine/dbal/lib/Doctrine/DBAL/Types/DateTimeTzImmutableType.php
vendor/doctrine/dbal/lib/Doctrine/DBAL/Types/JsonType.php
vendor/doctrine/dbal/lib/Doctrine/DBAL/Types/TimeImmutableType.php
vendor/doctrine/dbal/lib/Doctrine/DBAL/Types/VarDateTimeImmutableType.php
vendor/guzzlehttp/psr7/src/UriNormalizer.php
vendor/guzzlehttp/psr7/src/UriResolver.php
vendor/kartik-v/
vendor/league/flysystem/docs/
vendor/league/flysystem/src/Adapter/CanOverwriteFiles.php
vendor/league/flysystem/src/FilesystemNotFoundException.php
vendor/mockery/mockery/tests/Mockery/Fixtures/
vendor/mockery/mockery/tests/Mockery/MockingMethodsWithNullableParametersTest.php
vendor/mockery/mockery/tests/Mockery/MockingNullableMethodsTest.php
vendor/mockery/mockery/tests/Mockery/MockingVoidMethodsTest.php
vendor/mockery/mockery/travis/after_success.sh
vendor/monolog/monolog/CHANGELOG.md
vendor/monolog/monolog/README.md
vendor/monolog/monolog/tests/Monolog/Handler/RollbarHandlerTest.php
vendor/nesbot/carbon/.php_cs.dist
vendor/nesbot/carbon/src/Carbon/Exceptions/
vendor/nesbot/carbon/src/Carbon/Lang/gl.php
vendor/nesbot/carbon/src/Carbon/Lang/hy.php
vendor/nesbot/carbon/src/Carbon/Lang/ka.php
vendor/nesbot/carbon/src/Carbon/Lang/km.php
vendor/nesbot/carbon/src/Carbon/Lang/mk.php
vendor/nesbot/carbon/src/Carbon/Lang/sr_Cyrl_ME.php
vendor/nesbot/carbon/src/Carbon/Lang/sr_Latn_ME.php
vendor/nesbot/carbon/src/Carbon/Lang/sr_ME.php
vendor/nesbot/carbon/src/Carbon/Lang/ur.php
vendor/nesbot/carbon/src/Carbon/Lang/zh_TW.php
vendor/paragonie/random_compat/RATIONALE.md
vendor/paragonie/random_compat/build-phar.sh
vendor/paragonie/random_compat/other/ide_stubs/
vendor/paragonie/random_compat/psalm-autoload.php
vendor/paragonie/random_compat/psalm.xml
vendor/phpdocumentor/reflection-docblock/src/DocBlock/Tags/Formatter/AlignFormatter.php
vendor/phpdocumentor/type-resolver/src/Types/Iterable_.php
vendor/phpdocumentor/type-resolver/src/Types/Nullable.php
vendor/phpdocumentor/type-resolver/src/Types/Parent_.php
vendor/phpunit/php-timer/phpunit.xml
vendor/phpunit/phpunit/src/ForwardCompatibility/
vendor/phpunit/phpunit/tests/TextUI/log-junit.phpt
vendor/phpunit/phpunit/tests/_files/StatusTest.php
vendor/sebastian/diff/phpunit.xml
vendor/sebastian/diff/tests/ChunkTest.php
vendor/sebastian/diff/tests/DiffTest.php
vendor/sebastian/diff/tests/LCS/LongestCommonSubsequenceTest.php
vendor/sebastian/diff/tests/LCS/MemoryEfficientImplementationTest.php
vendor/sebastian/diff/tests/LineTest.php
vendor/swiftmailer/swiftmailer/.php_cs.dist
vendor/symfony/http-foundation/Tests/schema/
vendor/symfony/http-kernel/Tests/Fixtures/123/
vendor/symfony/yaml/Tag/
vendor/symfony/yaml/Tests/Fixtures/booleanMappingKeys.yml
vendor/symfony/yaml/Tests/Fixtures/legacyBooleanMappingKeys.yml
vendor/symfony/yaml/Tests/Fixtures/legacyNonStringKeys.yml
vendor/symfony/yaml/Tests/Fixtures/legacyNullMappingKey.yml
vendor/symfony/yaml/Tests/Fixtures/nonStringKeys.yml
vendor/symfony/yaml/Tests/Fixtures/nullMappingKey.yml
vendor/symfony/yaml/Tests/Fixtures/numericMappingKeys.yml
vendor/
phpunit/phpunit/src/ForwardCompatibility/
